.player-selection-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000;
    background-color: #4f2984;
    border: 3px solid #ffdd00;
    width: 20%;
    font-size: 1.5em;
}

.player-selection-popup h3 {
    margin-bottom: 10px;
    color: #ffdd00;
}

.player-selection-popup ul {
    list-style-type: none;
    padding: 0;
}

.player-selection-popup li {
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    border: 3px solid #ffdd00;
    border-radius: 3px;
}

.player-selection-popup li:hover {
    background-color: #3d2671;
}

