:root {
  --bg-color: #f4f4f9;
  --header-color: #503291;
  --card-bg-color: #ffffff;
  --text-color-light: #f7f7f7;
  --text-color-dark: #333333;
  --card-color: #6758A0;
  --primary-color: #503291;
  --stat-card-bg: #FFD700;
  --stat-card-text-color: #333333;
  --accent-color: #FFD700;
  --hover-color: #3d2671;
  --box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color-dark);
}

.team-stats-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

.selectors {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: var(--header-color);
  color: var(--text-color-light);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.detailed-stats, .stats-overview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.card, .tempo-cards, .bar-container, .shotClock, .stat-card {
  background-color: var(--card-bg-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 15px;
  font-size: 0.9em;
}

.card-header {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1.1em;
}


.detailed-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  height: 70%;
}

.tempo-cards-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: calc(50% - 10px); /* Adjusts the width to take up half of the container, accounting for the gap */
}

.charts-container {
  flex: 2; /* Takes the remaining space */
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: calc(70% - 10px); /* Adjusts the width to take up the other half of the container */
  /* Add height or flex-basis if you want a specific height */
}

.bar-container {
  background-color: var(--primary-color);
  padding: 15px;
  flex: 1; /* Grow to use available space */
  min-height: 50%; /* Example fixed minimum height */
}

.shotClock {
  display: flex;
  justify-content: space-between;
  flex: 0.5; /* Takes half the space of bar-container, adjust as needed */
  /* Again, specify a height or min-height for a specific size */
  min-height: 15%; /* Example fixed minimum height */
}

.card-content {
  padding: 15px;
}

.shotClock div {
  flex: 1;
  text-align: center;
}

.stats-overview {
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .selectors {
    flex-direction: column;
    align-items: center;
  }

  .selectors > * {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .detailed-stats, .stats-overview {
    flex-direction: column;
  }

  .tempo-cards, .bar-container, .shotClock, .stat-card {
    width: 100%;
  }
}
