:root {
  --bg-color: #f4f4f9;
  --header-color: #503291;
  --card-bg-color: #ffffff;
  --text-color-light: #f7f7f7;
  --text-color-dark: #333333;
  --card-color: #6758A0;
  --primary-color: #503291;
  --stat-card-bg: #FFD700;
  --stat-card-text-color: #333333;
  --accent-color: #FFD700;
  --hover-color: #3d2671;
  --box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color-dark);
}

.team-stats-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.selectors {
  padding: 1%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1%;
  background-color: var(--card-color);
  box-shadow: var(--box-shadow);
}

.detailed-stats {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1%;
  padding: 1%;
}

.tempo-cards, .heatmap {
  flex-grow: 1;
  padding: 1%;
  border-radius: 8px;
  background-color: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  margin: 0.5%;
}

.heatmap {
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  position: relative; /* Ensures the .heatmap doesn't collapse with absolute positioning of child elements */
  overflow: hidden; /* Adjust to 'auto' if internal scrolling is needed */
  max-height: 500px; /* Adjust max-height as needed to prevent indefinite growth */
  /* If your canvas must maintain a specific aspect ratio, use padding-top hack */
  /* padding-top: 56.25%; */ /* for an aspect ratio of 16:9 */
  /* height: 0; */ /* Used with padding-top hack for aspect ratio */
}

.heatmap canvas {
  position: absolute; /* Use absolute positioning to fit within the .heatmap container */
  top: 0;
  left: 0;
  width: 100% !important; /* Ensures the canvas is full width of the .heatmap container */
  height: 100% !important; /* Ensures the canvas is full height of the .heatmap container */
  max-height: 500px; /* This should match the max-height of the .heatmap container */
}

.stats-overview {
  display: flex;
  justify-content: space-around;
  gap: 1%;
  padding: 1%;
  background-color: var(--card-bg-color);
  box-shadow: var(--box-shadow);
}

.stat-card {
  flex-grow: 1;
  margin: 0.5%;
  background-color: var(--stat-card-bg);
  color: var(--stat-card-text-color);
  padding: 1%;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  text-align: center;
}

@media (max-width: 768px) {
  .selectors, .detailed-stats, .stats-overview {
    flex-direction: column;
    gap: 1%;
    padding: 1%;
  }

  .stat-card, .tempo-cards, .heatmap {
    width: 100%;
    margin: 0.5%;
    padding: 1%;
  }
}
