.login-page-container {
    background-color: #4f2984;
    background-image: url('../../images/nESTlogo.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 100vw; /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
    margin: 0 auto;
    padding: 20px;
    display: grid;
    place-items: center;
    text-align: center;
  }
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFDD00;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    
  }
  form h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #2675ad !important;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
  }
  form button:hover {
    background-color: #FFDD00;
  }
  form p {
    margin-top: 20px;
  }
  form a {
    color: #ff0000 !important;
  }
  form a:hover{
    color: #ff0000 !important;
  }
  .error {
    color: #ff0000;
    
}