/* CreateSessionsPage.css */

.create-sessions-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.drills-column {
    width: 30%;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.drills-column h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.drills-column ul {
    list-style: none;
    padding: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.drill-buttons {
    z-index: 1000;
}

.lists-column {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Align items at the top */
    width: 75%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-right: 20px;
}

select {
    width: 100%; /* Adjusted the width of the dropdown selections */
}

.create-session-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}
  
.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

.explore-link {
    display: block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.explore-link:hover {
    background-color: #2675ad;
}

.container {
    font-size: 5em;
    background-color: #a8a8a8;
    color: white;
    width: 8em;
    height: 2em;
    line-height: 2;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.session-inputs {
    background-color: #27ae60;
    color: #fff;
    width: calc(70% - 95px);
    padding: 20px 20px;
    margin-bottom: 12px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
}
  