.ExtraStats {
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #6758A0;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    width: 25%;
    font-size: 1.5rem;
}

.ExtraStats:active {
    transform: scale(0.95);
  }