.Popup {
  position: fixed; /* Position it relative to the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
  background-color: white; /* Background color for the popup */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: for better visibility */
  z-index: 100; /* Ensure it's above other content */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px; /* Adjust as necessary */
  margin: auto;
}

.PopupPlayerContainer {
  flex: 0 0 calc(25% - 20px); /* Flex basis with four items per row */
  display: flex;
  flex-direction: column; /* Stack circle and name vertically */
  align-items: center;
  margin: 10px;
}

.PopupPlayerCircle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #4f2984;
  cursor: pointer;
}

.PopupPlayerName {
  font-size: 1.2em;
  text-align: center;
  margin-top: 5px;
  color: #4f2984;
}

.PopupCloseButtonContainer {
  width: 100%; /* Take the full width of the popup */
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 20px; /* Space above the button */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 99; /* Below the popup but above other content */
}