/* DrillPage.css */

.drills-container {
    justify-content: space-between;
    padding: 10px;
}

.teams-court-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.teams-column {
    width: 50%;
    height: 50%;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.teams-column h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.changeTeam {
    position: inherit;
    display: inline-block;
    width: 40%;
    margin-right: 10px;
}

.teams-column ul {
    list-style: none;
    padding: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.selectPlayer {
    padding: 20px 20px;
    width: 40%;
    height: 20%;
    background-color: #3498db;
}

.changePlayer {
    position: relative;
    display: inline-block;
    width: 40%;
    margin-right: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.modal-content h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.modal-content label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.modal-content input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.court-column {
    width: 50%;
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.court-column img {
    padding: 10px;
}

.buttons-container-top,
.buttons-container-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.button-rebound,
.button-steal,
.button-turnover,
.button-assist,
.button-block,
.button-startTempo,
.button-stopTempo {
    padding: 40px 20px;
    width: 20%;
    height: 20%;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.greyed-out {
    background-color: grey;
    pointer-events: none;
}