/* Using the provided colors */
:root {
    --bg-color: #f4f4f9;
    --header-color: #503291;
    --card-bg-color: #ffffff;
    --text-color-light: #f7f7f7;
    --text-color-dark: #333333;
    --card-color: #6758A0;
    --primary-color: #503291;
    --stat-card-bg: #FFD700;
    --stat-card-text-color: #333333;
    --accent-color: #FFD700;
    --hover-color: #3d2671;
    --box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .drill-container {
      display: flex;
      flex-direction: column;
      height: 100vh;
  }
  
  .player-and-court-container {
    display: flex;
    flex: 1;
    padding: 20px;
    gap: 20px;
}

.player-container, .court-container {
    background: var(--card-color);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    padding: 15px;
    color: var(--text-color-dark);
    /* Remove background-color from here */
}

.player-container {
    flex: 1;
}

.court-container {
    flex: 2; /* Take up all available space */
    display: flex; /* Use flexbox for easy alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 10px; /* Optional padding, can be adjusted */
}

.tempo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: var(--header-color);
    color: var(--text-color-light);
}
  
  .timer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .TempoButton {
      padding: 10px 20px;
      margin: 0 5px;
      background: var(--stat-card-bg);
      color: var(--stat-card-text-color);
      border-radius: 20px;
      border: none;
      cursor: pointer;
      box-shadow: var(--box-shadow);
      transition: background-color 0.2s ease;
  }
  
  .TempoButton:hover,
  .TempoButton:active {
      background-color: var(--hover-color);
  }
  
  .TempoButton.disabled {
      background: grey;
      cursor: not-allowed;
  }
  
  .Overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
  }