:root {
  --bg-color: #FAFAFA;
  --header-color: #6758A0;
  --card-bg-color: #ffffff;
  --text-color-light: #cec3c3;
  --text-color-dark: #000000;
  --card-color: #6758A0;
  --primary-color: #6758A0;
  --stat-card-bg: #FFD700;
  --stat-card-text-color: #444444;
  --accent-color: #E6B800;
  --hover-color: #50497C;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color-dark); /* Improved readability */
}

.team-stats-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevents unnecessary scrolling */
}

.team-header {
  background-color: var(--header-color);
  color: var(--text-color-light); /* Ensure text is visible on the header background */
  padding: 20px;
  text-align: center;
}

.selectors, .detailed-stats, .stats-overview {
  padding: 20px;
  display: flex;
  justify-content: space-around; /* Distribute space around items */
  flex-wrap: wrap; /* Allows items to wrap as needed */
}

.selectors {
  background-color: var(--card-color);
}

.detailed-stats {
  flex-grow: 1; /* Allows detailed-stats to fill available space */
  gap: 20px; /* Adds space between children */
}

.tempo-cards, .heatmap {
  flex: 1; /* Allows these components to grow and fill available space equally */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
}

.heatmap {
  background-color: var(--primary-color);
}

.stats-overview {
  background-color: var(--card-bg-color);
  justify-content: space-between; /* Distributes space between components */
}

.stat-card {
  flex-basis: calc(33.333% - 40px); /* Three items per row with padding */
  margin: 10px;
  background-color: var(--stat-card-bg);
  color: var(--stat-card-text-color);
  padding: 20px;
  border-radius: 8px;
}

.stats-table-container, .stats-table {
  width: 100%; /* Ensures table fills container */
  overflow-x: auto; /* Enables horizontal scrolling for smaller screens */
}

.stats-table th, .stats-table td {
  padding: 12px 15px;
}

.stats-table th {
  background-color: var(--header-color);
  color: var(--text-color-light);
}

@media (max-width: 768px) {
  .selectors, .detailed-stats, .stats-overview {
    flex-direction: column;
  }

  .stat-card, .tempo-cards, .heatmap {
    width: 100%; /* Full width for smaller screens */
    margin: 10px 0; /* Adjust margin for vertical layout */
  }
}
