:root {
    --bg-color: #f4f4f9;
    --header-color: #503291;
    --card-bg-color: #ffffff;
    --text-color-light: #f7f7f7;
    --text-color-dark: #333333;
    --card-color: #6758A0;
    --primary-color: #503291;
    --stat-card-bg: #FFD700;
    --stat-card-text-color: #333333;
    --accent-color: #FFD700;
    --hover-color: #3d2671;
    --box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.main {
    text-align: center;
    margin-top: -15px;
}

.main h1 {
    font-style: italic;
}

.opponent-team {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    width: calc(70% - 75px);
    padding: 10px 20px;
    margin-bottom: 12px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 1.15em;
}

.opponent-team input {
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
}

.game-selection-container {
    width: 350px; 
    height: 350px;
    border-radius: 10px;
    overflow-y: auto;
    padding: 5px;
    padding-right: 10px;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 1.15em;
}

.game-entry {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #503291;
    border: 3px solid #503291;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.game-entry:hover {
    background-color: #3d2671;
}

.game-mode-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.load-game-overlay {
    padding-bottom: 100px;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.load-game-overlay-content {
    border-radius: 15px;
    padding: 5px;
    background-color: whitesmoke;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 1.15em;
    font-style: italic;
}

.new-game-overlay {
    padding-bottom: 100px;
    padding-left: 50px;
}

.tempo-timer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.last-tempo, .cancel-button {
    padding: 10px;
}

.offensive-tempo-button,
.defensive-tempo-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;

}

.submit-button {
    background-color: whitesmoke !important;
    margin-top: 30px;
}

.submit-button:hover {
    background-color: whitesmoke !important;
}

.ShotPopup {
    outline: none;
    top: 53%;
    left: 50%;
    margin-top: 280px;
    z-index: 0 !important;
}

.ShotOutcomeSelection,
.ClockTimeSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-bottom: -40px;
    justify-content: center;
}
  
.MadeButton {
    background-color: #4CAF50;
    color: white;
}
  
.MissedButton {
    background-color: #f44336;
    color: white;
}
  
.ClockButton1,
.ClockButton2,
.ClockButton3 {
    background-color: #607d8b;
    white-space: nowrap;
    min-width: 120px;
    color: white;
    display: none;
}

.overlay,
.new-game-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content,
.game-mode-content,
.new-game-overlay-content {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin-right: 50px;
    padding: 5px;
    background-color: whitesmoke;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 1.15em;
    font-style: italic;
}

.new-game-overlay h3,
.game-mode-overlay h2 {
    color: #4f2984;
}

.new-game-overlay-content input {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 3px solid black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.overlay button,
.game-mode-content button,
.new-game-overlay-content button {
    padding: 20px;
    background-color: #503291;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    font-size: 1.15em;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.game-selection button {
    height: 80px;
    width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.overlay button:hover,
.game-mode-content button:hover,
.new-game-overlay-content button:hover {
    background-color: #3d2671;
}

.new-game-overlay-content button.disabled {
    opacity: 0.35;
    cursor: pointer;
}

.submit-game-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: #503291;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}

.submit-game-button:hover,
.submit-game-button:focus {
    background-color: white;
    transform: translateY(-2px);
}

.submit-game-button:active {
    transform: translateY(1px);
}