/* HomePage.css */


.home-page-container {
  background-color: #4f2984;
  background-image: url('../../images/nESTlogo.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  margin: 0 auto;
  padding: 20px;
  display: grid;
  place-items: center;
  text-align: center;
}


.logo {
  max-width: 200px;
  max-height: 200px;
  background-image: '../../../public/nESTlogo.png';
}
header {
  
  margin-bottom: 30px;
}

header h1 {
  font-size: 3em;
  color: #000000;
  margin-bottom: 10px;
}

header p {
  color: #000000;
}

.explore-link {
  display: block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #FFDD00;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.explore-link:hover {
  background-color: #2675ad;
}

.about {
  margin-bottom: 30px;
}

.about h2 {
  font-size: 2em;
}

footer {
  text-align: center;
  color: #888;
}
/*makes button look similar to home page .explore-link*/
.Linkish-Button {
  background-color: #FFDD00 !important;
  color: #000000 !important;
  text-decoration: none;
  font-weight: bold;
  border: none;
  margin-bottom: 10%;
  padding: 30px;
  text-align: center;
  opacity: 0.9;
  width: 50%;
  background-color: #A955C2;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out; /* Transition added here */
}
.Linkish-Button:hover {
  background-color: #EECF08 !important;
  transform: scale(1.1); /* Transform effect on hover */
}
.Reg-Button, .Linkish-Button1 {
  background-color: #FFDD00 !important;
  color: #000000 !important;
  text-decoration: none;
  font-weight: bold;
  border: none;
  width: 50%;
  padding: 30px;
  text-align: center;
  opacity: 0.9;
  background-color: #A955C2;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Combine transitions */
}

.Reg-Button:hover, .Linkish-Button1:hover {
  background-color: #EECF08 !important;
  transform: scale(1.1); /* Transform effect on hover */
}


.Reg-Button {
  position: relative; /* Set position to relative */
  top: 55%; /* Position at the bottom */
  transform: translateY(0); /* Reset transform */
}

.Reg-Button:hover {
  transform-origin: bottom center; /* Set transform origin to bottom center */
}

.Linkish-Button1 {
  position: relative; /* Set position to relative */
  top: 30%; /* Position at the top */
}

.Linkish-Button1:hover {
  transform-origin: top center; /* Set transform origin to top center */
}

.Linkish-Button2 {
  background-color: #FFDD00 !important;
  color: #000000 !important;
  text-decoration: none;
  font-weight: bold;
  border: none;
  margin-bottom: 10%;
  width: 100vw;
  padding: 30px;
  text-align: center;
  opacity: 0.9;
  width: 50%;
  background-color: #A955C2;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out; /* Transition added here */
}

.Linkish-Button2:hover {
  background-color: #EECF08 !important;
  transform: scale(1.1); /* Transform effect on hover */
}
.log-out {
  background-color: #FFDD00 !important;
  color: #000000 !important;
  text-decoration: none;
  width: 5vw;
  height: 5vh;
  margin-bottom: 20vh;
  margin-left: 90vw;
}
/*OpenSession.js*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
background: #4f2984!important;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
max-width: 400px;
width: 100%;
position: relative;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
border: 1px solid #ccc;
padding: 20px;
transition: opacity .5s ease !important; /* Smooth transition for opacity */
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none !important;
  border: none !important;
  color: black !important;
  font-size: 20px;
  cursor: pointer;
}
.close-button:hover {
  color: grey !important;
}

.submit-button  {
  margin-top: 10px;
  background-color: #FFDD00 !important;
}
.submit-button:hover {
  background-color: #EECF08 !important;

}