.TempoPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.PlayerList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Takes half the space */
}

.TempoControls {
  display: flex;
  justify-content: space-around; /* Adjust as necessary for spacing */
  align-items: center;
  flex: 1; /* Takes up remaining space */
  padding: 10px;
}

.TempoButton {
  flex-grow: 1; /* Grow to fill the space for width */
  flex-shrink: 0; /* Prevent shrinking */
  align-self: stretch; /* Stretch to fill the container's height */
  font-size: 1.5em; /* Increase font size */
  padding: 20px; /* Adjust padding */
  margin: 10px; /* Add margin around the buttons */
  border: none;
  border-radius: 10px; /* Slightly rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.TempoButton.start {
  background-color: green;
  color: white;
}

.TempoButton.stop {
  background-color: red;
  color: white;
}

.TempoButton.disabled {
  background-color: grey;
  cursor: not-allowed;
  pointer-events: none;
}

.TempoTimer {
  flex-basis: 400px; /* Assign a fixed width to the timer */
  text-align: center;
  font-size: 2em;
  margin: 10px;
}

.LastTempoDisplay {
  font-size: 1.5em;
  text-align: center;
  width: 100%; /* Make sure it spans the full width */
  margin: 10px 0;
}

.CancelButton {
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 1em; /* Adjust font size as needed */
  background-color: orange; /* Adjust background color as needed */
  color: white;
  border: none;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  width: auto; /* Adjust width to content */
  margin: 0 auto; /* Center the button horizontally */
  display: block; /* Block display to apply margin auto */
}

.CancelButton.disabled {
  background-color: grey; /* Greyed out look */
  color: #ccc; /* Optional: change text color for disabled state */
  cursor: not-allowed; /* Change cursor to indicate disabled */
}

