/* HomePage.css */

.home-page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  margin-bottom: 30px;
}

header h1 {
  font-size: 3em;
  color: #3498db;
  margin-bottom: 10px;
}

header p {
  color: #555;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.feature {
  flex: 0 1 30%;
  margin: 10px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.feature:hover {
  transform: scale(1.05);
}

.feature h2 {
  font-size: 1.5em;
}

.explore-link {
  display: block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.explore-link:hover {
  background-color: #2675ad;
}

.about {
  margin-bottom: 30px;
}

.about h2 {
  font-size: 2em;
}

footer {
  text-align: center;
  color: #888;
}

.new-session, .open-session {
  margin-top: 30px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.new-session:hover, .open-session:hover {
  transform: scale(1.05);
}

.new-session h2 {
  font-size: 1.5em;
}

.new-session p {
  color: #555;
  margin-bottom: 20px;
}

.new-session .explore-link, .open-session .explore-link {
  display: block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.new-session .explore-link:hover, .open-session .explore-link:hover {
  background-color: #2675ad;
}
/*makes button look similar to home page .explore-link*/
.Linkish-Button{ 

  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  width: 100%;

}
.Linkish-Button:hover {
  background-color: #2675ad;
}
/*OpenSession.js*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
background: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
max-width: 400px;
width: 100%;
position: relative;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none !important;
  border: none !important;
  color: black !important;
  font-size: 20px;
  cursor: pointer;
}
.close-button:hover {
  color: grey !important;
}
