.heatmap {
    border: 2px solid #ddd;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    background-color: #f9f9f9;
  }
  
.heatmap-placeholder {
    width: 100%; /* Make it take the full width of its container */
    height: 400px; /* Adjust the height to take up a larger portion of the screen */
    background-color: gray;
    /* Removed absolute positioning */
  }