.stat-card {
    flex: 0 0 20%; /* Adjust the percentage to fit 4 cards in a row */
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .stat-icon {
    width: 50px; /* or any size you prefer */
    height: auto;
    margin-bottom: 10px;
  }
  
  .stat-title {
    font-size: 1.25em;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
  }
  
  .stat-value {
    font-size: 2em;
    font-weight: 700;
    color: var(--primary-color); /* Use a CSS variable or specific color */
  }
  
  .stat-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transform: translateY(-5px);
  }
  
  @media (max-width: 768px) {
    .stat-card {
      flex: 0 0 48%; /* Adjust for mobile to fit 2 cards in a row */
      margin: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .stat-card {
      flex: 0 0 100%; /* Full width on very small screens */
      margin: 10px 0;
    }
  }
  