.stats-table-container {
  overflow-x: auto; /* For horizontal scrolling on smaller screens */
  margin: 20px 0;
}

.stats-table {
  width: 100%;
  border-collapse: collapse; /* For a cleaner look */
  margin: 0 auto; /* Centering the table */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.stats-table thead {
  background-color: #6758A0; /* Lightened Tennessee Tech Purple */
}

.stats-table th {
  padding: 12px 15px;
  text-align: left;
  color: #FFD700; /* Tennessee Tech Gold */
  font-weight: 600; /* Making headers bold */
}

.stats-table tbody td:nth-child(odd) {
  background-color: #FAFAFA; /* Lighter grey for zebra striping */
}

.stats-table tbody td:nth-child(even) {
  background-color: #EDEDED; /* Slightly darker grey for contrast */
}

.stats-table td {
  padding: 12px 15px;
  color: var(--text-color-dark); /* Darker text for better readability */
  border-bottom: 1px solid #ddd; /* Separator for rows */
}

.stats-table tbody td:hover {
  background-color: #DAA520; /* Lightened Golden Rod for hover */
  cursor: pointer; /* Change cursor to indicate interactivity */
}

@media (max-width: 768px) {
  .stats-table th,
  .stats-table td {
    padding: 8px; /* Smaller padding for smaller screens */
  }

  .stats-table {
    font-size: 14px; /* Smaller font size for better readability on small screens */
  }
}
