.PlayerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.PlayerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    width: calc(33.333% - 20px);
  }
  
  .PlayerCircle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #8766b4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #ffd700; /* This sets the font color to gold */
  }
  
  .PlayerName {
    font-size: 1.5em;
    margin-top: 10px;
  }

  .player-inverted .PlayerCircle {
    background-color: #ffd700;
    color: #8766b4;
  }