.CPopup {
  position: fixed; /* Position it relative to the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
  background-color: white; /* Background color for the popup */
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: for better visibility */
  z-index: 100; /* Ensure it's above other content */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px; /* Adjust as necessary */
  margin: auto;
  height: 300px;
  width: 600px;
  padding-top: 40px;
  padding-bottom: 90px;
}

.ClockButton1, .ClockButton2, .ClockButton3 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  margin: 10px;
}

.MadeButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(45% - 40px); /* 50% for two buttons, minus double the padding */
  height: calc(100% - 40px); /* 100% of the container's height, minus double the padding */
  font-size: 2em;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: White;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Space{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.MissedButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(45% - 40px); /* 50% for two buttons, minus double the padding */
  height: calc(100% - 40px); /* 100% of the container's height, minus double the padding */
  font-size: 2em;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
  cursor: pointer;
  
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.PopupCloseButtonContainer {
  width: 100%; /* Take the full width of the popup */
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 20px; /* Space above the button */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 99; /* Below the popup but above other content */
}