:root {
  --bg-color: #FAFAFA; /* Even lighter grey for background */
  --header-color: #6758A0; /* Lightened Tennessee Tech Purple for headers */
  --card-bg-color: #ffffff; /* White for card backgrounds remains the same */
  --text-color-light: #cec3c3; /* Slightly lighter grey for text */
  --text-color-dark: #000000; /* Black for text on selections */
  --card-color: #6758A0; /* Lightened Tennessee Tech Purple for cards */
  --primary-color: #6758A0; /* Lightened Tennessee Tech Purple for primary elements */
  --stat-card-bg: #FFD700; /* Lightened Tennessee Tech Gold for stat cards background */
  --stat-card-text-color: #444444; /* Slightly lighter grey for text on stat cards */
  --accent-color: #E6B800; /* Lightened Golden Rod for buttons and interactive elements */
  --hover-color: #50497C; /* Lightened Dark Purple for hover states */
}

  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color-light);
  }
  
  .team-stats-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  .team-header {
    background-color: var(--header-color);
    padding: 1rem;
    text-align: center;
  }
  
  .selectors {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    background-color: var(--card-color);
  }
  
  .stats-overview,
  .stat-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--card-bg-color);
  }

  .shots-table-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: var(--card-bg-color);
  }
  
  .stat-card {
    flex: 1;
    margin: 0 0.5rem;
    background-color: var(--stat-card-bg);
    color: var(--stat-card-text-color);
    padding: 1rem;
    border-radius: 8px;
  }
  
  .detailed-stats {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .tempo-cards {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .player-information {
    text-color: #000;
  }
  
  .heatmap {
    width: 10%;
    padding: 1000px;
    flex-grow: 1;
    background-color: var(--primary-color); /* Replace with actual heatmap */
    border-radius: 8px;
    padding: 1rem;
    margin-left: 1rem;
  }
  
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    /* Add more styling for your grid items */
  }

  .stats-table-container {
    overflow-x: auto;
    margin: 20px 0;
  }
  
  .stats-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--card-bg-color); /* Assuming this is a suitable color for your table background */
    color: var(--text-color-light);
    margin: 0 auto; /* Centers the table */
  }
  
  .stats-table th,
  .stats-table td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid var(--border-color); /* Lighter color for the borders */
  }
  
  .stats-table th {
    background-color: var(--header-color); /* Darker color for headers */
    color: var(--stat-card-text-color);
    font-weight: bold; /* Makes header text bold */
  }
  
  .stats-table tbody tr:nth-child(odd) {
    background-color: var(--bg-color); /* Lighter background for every other row */
  }
  
  .stats-table tbody tr:hover {
    background-color: var(--hover-color); /* Color for hover state */
  }
  
  .stats-table-container {
    background-color: var(--card-color);
    padding: 1rem;
    text-align: center;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .selectors,
    .stats-overview,
    .detailed-stats,
    .stats-grid {
      flex-direction: column;
      align-items: center;
    }
  
    .stat-card,
    .tempo-cards,
    .heatmap {
      width: 100%;
      margin: 0.5rem 0;
    }
  
    .stats-grid {
      grid-template-columns: 1fr;
    }
  }
  
