/* Adjustments to match HomePage styles */

.hamburger-logo {
    max-width: 100px; /* Adjust size as needed */
    opacity: 0.8; /* Adjust opacity to make the logo opaque */
    display: block; /* Makes the logo centered if margin is auto */
    margin: 0 auto 20px; /* Adds some space below the logo */
  }

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 24px;
    top: 16px;
}

.bm-burger-bars {
    background: #FFDD00;
}

.bm-burger-bars-hover {
    background: #a90000;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
}

.bm-item:hover {
    color: #ffffff;
}

/* HomePage style adjustments */
.menu-item {
    color: #FFFFFF;
    display: block;
    padding: 0.5em 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

/* Utilizing HomePage.css primary color for consistency */
.bm-menu {
    background: #282c34; /* Adjusting the menu background to match HomePage */
}

/* Aligning link styles with HomePage buttons */
.menu-item:hover,
.menu-item:focus {
    color: #61dafb; /* Hover color taken from HomePage button focus */
}
.menu-item-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #FFDD00;
    display: block;
    padding: 0.5em 0;
    padding-left: 0.5em;
    font-size: 20px;
    font-weight: 500;
}

.menu-item-button:hover,
.menu-item-button:focus {
    color: #4f2984; /* Hover color taken from HomePage button focus */
    text-decoration: none;
}
/* Additional styling for a cohesive look */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay to match HomePage style */
}

.practices-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 1000; /* Ensure it's above other content */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Register css*/


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
  background: #4f2984!important;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  transition: opacity .5s ease !important; /* Smooth transition for opacity */
  }
  
  .close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none !important;
    border: none !important;
    color: black !important;
    font-size: 20px;
    cursor: pointer;
  }
  .close-button:hover {
    color: grey !important;
  }
  
  .submit-button  {
    margin-top: 10px;
    background-color: #FFDD00 !important;
  }
  .submit-button:hover {
    background-color: #EECF08 !important;
  
  }